/* -----SECTION----- */
.section {
  width: 100%;
  max-width: var(--section-width);
  margin: 0 auto;
  padding: var(--space-24) 24px;
}
/* 공통 컨테이너 */
.container {
  width: 100%;
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 0 var(--space-6);
}

.section-title {
  font-size: var(--text-h2);
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
  position: relative;
}
.section-title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 0px;
  content: "";
  border: 2px solid var(--color-accent);
}

/* -----CARD SYSTEM----- */
.card {
  background: var(--color-bg-surface);
  padding: 24px;
  border-radius: var(--radius);
  border: 1px solid var(--border-light);
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-4px);
  border-color: var(--color-accent);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

/* -----BUTTONS----- */
.btn-primary {
  background: var(--color-accent);
  color: var(--color-primary);
  padding: 12px 32px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
}

.btn-secondary {
  background: transparent;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  padding: 12px 32px;
  border-radius: 14px;
  font-weight: 600;
}

/* -----SCROLLBAR----- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
